/*кнопки-ссылки*/
.sections-works {
  margin: 0;
  padding: 0;
}

.links-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
}

.b1 {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: transparent;
  color: $primary-text-color;
  transition-property: background-color, color, border, box-shadow;
  transition: 250ms $time-distribution-function;
}

.b1:hover,
.b1:focus {
  background: $accent-color;
  color: $primary-bg-color;
  border-radius: 4px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 8px;
}
