$primary-text-color: #212121;
$tittle-text-color: #757575;
$accent-color: #2196f3;

$background-color-third: #f5f4fa;
$primary-bg-color: #ffffff;
$footer-color: #2f303a;
$icon-current-color: #afb1b8;

/*$header-logo-span: #000000 
$bg-color #fff;*/

$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);

/*$footer-text-color: rgba(255, 255, 255, 0.6);
$additional-color: rgba(47, 48, 58, 0.8);
*/
$familyRoboto: Roboto, sans-serif;
/*$familyRaleway: Raleway, sans-serif;
